<!doctype html>
<html>
<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1" />
		<title>.trackl</title>

    <link href="/css/trackl.css" rel="stylesheet" type="text/css" />
</head>

<body>
		<main>
			<h1>tasks</h1>
			<section id="occasionals" class="tasks">
			{{ range $task := .Tasks }}
				{{ block "task" $task }}
				<div class="box {{ .State }}"
					 title="{{ .Description }}"
					 hx-post="/{{ .Namespace }}/tasks/{{ .ID }}/{{ .State.Next }}"
					 hx-swap="outerHTML">
				  {{ .Icon }}
					<img class="htmx-indicator loading" src="/img/puff.svg" />
				</div>
				{{ end }}
			{{ end }}
			</section>

			<h1>events</h1>
			<section class="events">
			{{ range $event := .Events }}
			<div class="event">
			{{ $event.Icon }}<progress max="100" value={{ $event.PercentDone }} title="{{ $event.DaysLeft }} days left"></progress>
			</div>
			{{ end }}
			</section>
		</main>

		<footer>
			<pre>{{ .Namespace }} - db: {{ .InstrumentedInfo.NumDBCalls }} calls / {{ .InstrumentedInfo.DBDuration }} - <a href="https://github.com/heyLu/trackl">.trackl</a></pre>
		</footer>

		<script src="/js/htmx.min.js"></script>
</body>
</html>
